body{background-color:#BF5E43;}
p{color:#FFC98A;
font-family: Helvetica;
font-size: 20px;
text-align: center;
margin-bottom: 30px;}

h1{color: #FF5499;
font-family: Comfortaa;
font-size: 35px;
background-color: #BD2842;
margin-left: 10%;
margin-right: 10%;
padding: 20px}

img{border-style: double;
border-width: 11px;
color: #9C59DE;
display: block;
margin-left: auto;
margin-right: auto;}

a{text-decoration: none;
color: #FFA6E7;
font-family: Helvetica;
font-size: 20px;}

a:hover{color: #FFC98A;
font-size: 20px;}

ul {list-style: none;
margin-left: 10%;
margin-right: 10%;}

li {background-color: #9E672B;
display: inline-block;
border-style: double;
padding: 5px;}

iframe{display: block;
margin: auto;}


